/* hero section */


.dark .hero-bg {
    background: url('./../../assets/images/bg/Header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 0.5s;
}




/* service css */


.dark .service {
    background-color: #0E0919;
    transition: 0.5s;
}

/* about section */

.dark .about {
    background-color: #0E0919;
    transition: 0.5s;
}

.dark .about-title h2 {
    color: var(--color-white);
    transition: 0.5s;

}

.dark .about-title p {
    color: var(--color-grey);
}

.dark .about-content-lists li {
    color: var(--color-white);
    transition: 0.5s;
}

/* opportunity */

.dark .opportunity {
    background: url('./../../assets/images/oportunity/dark-opportunity-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 0.5s;
}

.dark .funfact-box-1 {
    background-color: #0E0919;
    transition: 0.5s;

}

.dark .box-1 .funfact-count {
    background-color: #0E0919;
    color: var(--color-white);
    transition: 0.5s;


}

.dark .box-3 .funfact-count {
    background-color: #0E0919;
    color: var(--color-white);
    transition: 0.5s;

}

/* testimonial section*/

.dark .testimonial-two {
    background-color: #0E0919;
    transition: 0.5s;
}

.dark .testimonial-two-title h2 {
    color: var(--color-white);
    transition: 0.5s;
}

.dark .testimonial-two_item {
    background: #181028;
    transition: 0.5s;

}

.dark .testimonial-two_item-shape-2 {
    position: absolute;
    bottom: -40px;
    left: 30px;
    color: #181028;
    transition: 0.5s;

}

.dark .testimonial-two_client-name {
    color: var(--color-white);
    transition: 0.5s;

}

/*============ Programs-two ============*/


.dark .programs-two {
    background-color: #181028;
    transition: 0.5s;
}

.dark .programs-two-heading-title h2 {
    color: var(--color-white);
    transition: 0.5s;

}

/*============ Explore-two ============*/

.dark .explore-two {
    background: url('./../../assets/images/Explore/dark-explore-bg.jpg');
    background-repeat: no-repeat;
    height: 434px;
    padding-top: 110px;
    z-index: 3;
    transition: 0.5s;
}

/* teacher */

.dark .teacher {
    background-color: #0E0919;
    border-bottom: 1px solid #1F1E44;
    transition: 0.5s;
}

.dark .teacher-heading-title .teacher-hadding {
    color: var(--color-white);
    transition: 0.5s;
}

.dark .teacher-cart {
    border: none;
    background: #181028;
    color: #fff;
    transition: 0.5s;

}

.dark .teacher-social a {
    background-color: var(--color-white);

}

/* gallery */

.dark .gallery-two {
    background-color: #0E0919;
    transition: 0.5s;

}

/* evet */

.dark .event {
    background-color: #0E0919;
    transition: 0.5s;

}

.dark .event-heading-title .event-hadding {
    color: var(--color-white);
    transition: 0.5s;
}

/* blog */

.dark .blog {
    background-color: #0E0919;
    transition: 0.5s;
}

.dark .blog-heading-title .blog-title {
    color: var(--color-white);
    transition: 0.5s;

}